@import "../color/Color.scss";

.offer-container{
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    width:100%;
    .grey-txt{
     color:$color-grey-2
    }
    .userName {
        height: 20px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .avatar {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-right: 4px;
        }
        .grey-txt{
            font-size: 12px;
   
          }
    }
    .offer-product {
        width: 100%;
        height: 85%;
        object-fit: cover;
    }

}


  