@import "../color/Color.scss";

header {
  background-color: $color-white;
//  border: 2px solid red; 
  padding: 10px 0;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  font-size: 13px;

  .page-container {
    width: 100%;
    img {
      width: 80px;
      margin-right: 3em;
    }

    .line2 {
      display: none;
    }

    .line3 {
      display: none;
    }

    .line1 {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .search-container {
        flex: 1;

        .search-item {
          position: relative;
          margin-bottom: 20px;
          width: 100%;

          input {
            height: 100%;
            width: 96%;
            border: 0;
            background-color: $color-grey-ligth2;
            padding: 0.5em 0 0.5em 2em;
            border-radius: 5px;

            &::placeholder {
              color: $color-grey-ligth6;
              padding-left: 2em;
            }
            &:focus {
              outline: none;
            }
          }
          .icon-search {
            color: $color-grey;
            position: absolute;
            left: 5px;
            top: 8px;
          }
        }
        .filters-items {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .switch-bar-container {
            display: flex;
            align-items: center;
          }

          .range-bar-container {
            display: flex;
            align-items: center;
            .range {
              width: 230px;
              .bar-range {
                height: 6px;
                width: 100%;
                border-radius: 14px;
              }
              .cursor {
                height: 14px;
                width: 14px;
                border-radius: 14px;
                background-color: $color-blue;
                border: 1px solid $color-white;
                position: relative;
                &:focus {
                  outline: none;
                }
                .price {
                  position: absolute;
                  font-size: 11px;
                  top: -18px;
                  color: white;
                  background-color: $color-blue;
                  padding: 3px;
                  border-radius: 3px;
                }
              }
            }
          }
          span {
            margin-right: 5px;
          }
        }
      }
      .button-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .logger-container {
          display: flex;
          justify-content: center;
          margin: 0 1em;
          button:first-child {
            margin-right: 1em;
          }
        }
      }
      .icon-bars {
        display: none;
      }
    }
  }
}

@media (max-width: 1200px) {
  header {
    width: 100%;
    font-size: 12px;

    .page-container {
      width: 100%;
      margin: 0 2em;
      img {
        margin-right: 2em;
      }
    }
  }
}

@media (max-width: 960px) {
  header {
    .page-container {
      .line1 {
        padding-bottom: 0.5em;
        border-bottom: 1px solid $color-grey-ligth2;
        .icon-bars {
          display: block;
          color: $color-grey;
          font-size: 1.5em;
        }
        .search-container {
          display: none;
        }
        .button-container {
          display: none;
        }
      }
      .line2 {
        margin-top: 0.7em;
        display: block;
        position: relative;
        .search-item {
          position: relative;
          input {
            height: 100%;
            width: 100%;
            border: 0;
            background-color: $color-grey-ligth2;
            padding: 0.5em 0;
            border-radius: 5px;
            &::placeholder {
              color: $color-grey-ligth6;
              padding-left: 2em;
            }
          }
          .icon-search {
            color: $color-grey;
            position: absolute;
            left: 5px;
            top: 8px;
          }
        }
      }
      .line3 {
        margin-top: 1.7em;
        display: flex;
        justify-content: space-between;
        .switch-bar-container {
          display: flex;
          align-items: center;
        }
        .range-bar-container {
          display: flex;
          align-items: center;
          .range {
            width: 230px;
            .bar-range {
              height: 6px;
              width: 100%;
              border-radius: 14px;
            }
            .cursor {
              height: 14px;
              width: 14px;
              border-radius: 14px;
              background-color: $color-blue;
              border: 1px solid $color-white;
              position: relative;
              &:focus {
                outline: none;
              }
              .price {
                position: absolute;
                font-size: 11px;
                top: -18px;
                color: $color-white;
                background-color: $color-blue;
                padding: 3px;
                border-radius: 3px;
              }
            }
          }
        }
        span {
          margin-right: 5px;
        }
      }
    }
  }
}
